  @charset "utf-8";
 input{
 	width:100% !important;
 	padding:12px 20px;
 	border:none;
 	margin-bottom:20px;
 	border-radius:50px;
 	background:white;

 }

 body{
 	background-color:rgb(115, 106, 255);
 }
  input[type=email],input[type=text],input[type=password]:focus{
 	outline:none;
 }
 input[type=email]{
 	 font-family: 'FontAwesome';
 	 z-index: -100 !important;
 }
 .generate-btn{
 	border-radius: 50px;
 	background-color:white;
 	font-weight: bold;
 }
 .gen{
 	background-color:rgb(193,223,255);
 	color:black;
 }
 .gen:hover{
 	color:blue;
 }
 .submit-btn{
 	float:left !important;
 	clear:left !important;
 	background-color:white;
 	 
 }
 .email-loader{
 	font-size:18px !important;
 	float:right;
 	margin-top:-50px !important;
 	 position:relative;
 	margin-right:13px;
 	 z-index:1000 !important;
 }
.login-show-icon{
 		position:absolute;
 		top:19.2%;
 		right:45px;
 		color:#ccc;
 		z-index:3;
 		cursor:pointer;
 	}
  

 @media(min-width:1268px)
 {

 	.gen{
 		font-size:14px;
 	}
 	#email-box,#password-box{
 		position:relative;
 		width:100% !important;
 		height:50px;
 		border:none;
 		border-radius:50px;
 		margin-bottom:20px;


 	}
 	 

 	}
 	.show-icon{
 		position:absolute;
 		top:23%;
 		right:15px;
 		color:#ccc;
 		z-index:3;
 		cursor:pointer;
 	}

 }
